<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @ccsf_rail.index %>
</p>

<p>
  <strong>Links:</strong>
  <%= @ccsf_rail.links %>
</p>

<p>
  <strong>About:</strong>
  <%= @ccsf_rail.about %>
</p>

<%= link_to 'Edit', edit_ccsf_rail_path(@ccsf_rail) %> |
<%= link_to 'Back', ccsf_rails_path %>
